.container{
    border-top: 0.5px solid #c9d1d9;
    min-width: 50px;
    height: 100%;
    border-left: 0.5px solid #c9d1d9;
    display: flex;
    gap: 1px;
}
.iconsContainer{
    padding-top: 20px;
    width: 50px;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    background-color: #22262f;
}
.iconActive{
    color: #ffb300 !important;
}
.btn{
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 22px;
    color: white;
}
.sidebarTitle{
    text-align: center;
}
.expandedSidebar{
    width: 400px;
    min-height: 20px;
    background-color: #121316;
    color: #d5cccc;
    flex-direction: column;
}
.sidebarContentTitle{
    height: 50px;
    text-align: center;
    color: #ffb300;
    padding-top: 10px;
    letter-spacing: 1px;
}
.sidebarContentContainer{
    position: relative;
    z-index: 1;
    display: flex;
    max-width: 400px;
    margin: 0px 10px;
    border-radius: 5px;
    max-height: calc(100% - 50px);
    padding: 10px 0px;
    overflow-y: auto;
    background-color: #1b1f24;
}
.sidebarContent{
    width: 95%;
    margin: auto;
    border: none;
    margin-top: 0px;
    outline: none;
    min-height: 150px;
    resize: none;
    overflow-wrap: anywhere;
}

.placeholder {
    color: #aaa;
    position: absolute;
    pointer-events: none;
    margin-left: 10px;
    padding-left: 2px;
    z-index: -11;
}

