.page{
    width: 100vw;
    height: 100vh;

    display: flex;
    flex-direction: column;
}
.container{
    height: calc(100vh - 50px);
}



/* top panel */
.topPanel{
    height: 40px;
    display: flex;
    align-items: center;
    background-color: #1b1f24;
    color: #d8dee9;
    gap: 50px;
    padding-left: 20px;
}
.tabsContainer{
    display: flex;
    gap:20px;
    list-style: none;
}
.tab{
  padding:3px 5px;
  transition: 100ms linear;
  cursor: pointer;
  border-radius: 3px;
  display: flex;
  gap: 5px;
  align-items: center;
}
.tab span{
  padding-bottom: 2px;
}
.tab:hover{
    background-color: #eceff434;
}


.saveActionContainer{
    display: flex;
    align-items: center;
    height: 40px;
    gap: 10px;
    position: absolute;
    min-width: 166px;
    right: 20px;
}

.saveChangesBtn{
    display: flex;
    gap: 5px;
    align-items: center;
    background-color: #495057;
    color: white;
    padding: 2px 4px;
    border-radius: 4px;
    cursor: pointer;
    letter-spacing: 0.28px;
}
.saveChangesBtn .btnText{
    margin-bottom: 2px;
}
.saveChangesBtn:hover{
    border-color: #00fa9a;
    color: #00fa9a;
}

.saveInfo{
    display: flex;
    align-items: center;
    gap: 10px;
    width: 100px;
}





/* loader */
.ldsRing {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
    transform: scale(0.3);
  }
  .ldsRing div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 64px;
    height: 64px;
    margin: 8px;
    border: 8px solid #fff;
    border-radius: 50%;
    animation: ldsRing 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: #fff transparent transparent transparent;
  }
  .ldsRing div:nth-child(1) {
    animation-delay: -0.45s;
  }
  .ldsRing div:nth-child(2) {
    animation-delay: -0.3s;
  }
  .ldsRing div:nth-child(3) {
    animation-delay: -0.15s;
  }
  @keyframes ldsRing {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  