.container{
    display: flex;
    align-items: center;
    justify-content: center;
}
.accountBtn{
    border-radius: 50%;
    font-size: 30px;
    background-color: transparent;
    color: white;
    border: none;
    cursor: pointer;
}
