.pdfViewerContainer{
    position: relative;
    flex-grow: 1;
    background-color: #2a2a2e;
    overflow-x: hidden;
    transition: 0.3s linear;
}
.pdfViewer{
    max-height: calc(100vh - 120px);
    overflow-y: auto;
    overflow-x: auto;
    border: none;
    width: 100%;
    scroll-behavior: smooth;
    padding: 20px 10px;
    position: relative;
    color: white;
    text-align: center;
}
.page{
    max-width: fit-content;
    margin: auto;
    margin-bottom: 10px;
    position: static;
}
.topPanel{
    height: 30px;
    background-color: #38383d;
    color: white;
    /* position: absolute;
    top: 0px; */
    width: 100%;
    z-index: 2;
    padding: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.zoomBtns{
    width: 25px;
    height: 25px;
    /* padding: ; */
    background-color: transparent;
    border: none;
    border-radius: 3px;
    color: #c4c7ca;
    font-weight: 300;
    font-size: 15px;
    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: center;
}
.zoomBtns:hover{
    background-color: rgb(102 102 103);
}
.zoomContainer{
    display: flex;
    gap: 5px;
    user-select: none;
}
.zoomValue{
    width: 55px;
    text-align: center;
}
.currentPageInput{
    width: 60px;
    background-color: transparent;
    border: 0.6px solid #434c5e;
    padding: 4px;
    padding-left: 10px;
    color: #c4c7ca;
    outline: none;
    border-radius: 3px;
}
.currentPageInput:focus{
    border: 0.6px solid #c4c7ca;
}
.pageNumberContainer{
    position: absolute;
    left: 10px;
}